$color-1: #061b5e;
$color-2: #06820c;
$color-3: #b6bbcd;

// Überschreiben von Bootstrap-Variablen
$primary: #ff0000;
$secondary: #450b4f;

$margin: 10px;
$padding: 20px;

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 20px;
$font-size-4: 40px;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;